In [52]:
#importing necessary libraries 
import numpy as np
import pandas as pd
import os
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import alpaca_trade_api as tradeapi
import yfinance as yf
from urllib.parse import quote
import seaborn as sns #library not from class
%matplotlib inline

In [53]:
#Load .env environment variables
from dotenv import load_dotenv
load_dotenv()

True

In [54]:
# Set a random seed for reproducibility
np.random.seed(40)

In [55]:
# Set Alpaca API key and secret
APCA_API_KEY_ID = os.getenv("APCA_API_KEY")
APCA_API_SECRET_KEY = os.getenv("APCA_SECRET_KEY")
ALPACA_ENDPOINT_KEY = os.getenv("ALPACA_END_POINT")

#ensuring api keys are correct 
#print(os.getenv("APCA_API_KEY_ID"))
#print(os.getenv("APCA_API_SECRET_KEY"))
#print(os.getenv("ALPACA_ENDPOINT_KEY"))

# Create the Alpaca API object
alpaca = tradeapi.REST(APCA_API_KEY_ID, APCA_API_SECRET_KEY, api_version="v2",base_url= ALPACA_ENDPOINT_KEY)

## Part 1 - Portfolio Optimization

In [56]:
#initializing variables
initial_investment = 10000
print(f'The initial investment is: ${initial_investment}')

stock_tickers = ['AAPL', 'AMZN', 'MSFT'] 
ticker_string = ', '.join(stock_tickers)
print(f'The selected stocks are: {stock_tickers}')

start_date = '2020-11-08'  # Set your desired start date
print(f'The start date is: {start_date}')

end_date = '2023-11-08'  # Set your desired start date
print(f'The start date is: {start_date}')

num_simulations = 500 
print(f'The number of monte carlo simulations is: {num_simulations}')

The initial investment is: $10000
The selected stocks are: ['AAPL', 'AMZN', 'MSFT']
The start date is: 2020-11-08
The start date is: 2020-11-08
The number of monte carlo simulations is: 500

### Import S&P500 Data From Alpacas and Display Closing Prices From Chosen Stocks

In [65]:
# Importing SP500 
spy = ["SPY"]

# Define the list of stock tickers, including SP500
list_of_tickers = stock_tickers + spy

# Set timeframe to '1D'
timeframe = '1D'

# Convert start_date and end_date to ISO format with New York timezone
start_date = pd.Timestamp(start_date, tz='America/New_York').isoformat()
end_date = pd.Timestamp(end_date, tz='America/New_York').isoformat()

# Create an empty DataFrame to store the results
df_combined = pd.DataFrame()

# Make the request to Alpaca API for each ticker
for ticker in list_of_tickers:
    # Convert the ticker to URL-encoded format
    ticker_encoded = quote(ticker)
    
     # Make the request to Alpaca API to get bars data
    df_ticker = alpaca.get_bars(ticker_encoded, timeframe, limit=None, start=start_date, end=end_date).df
    
    # Select only the 'close' column and assign the new column name with the ticker symbol for clarity purposes
    df_ticker = df_ticker['close'].rename(ticker)
    
    # Combine the results
    df_combined = pd.concat([df_combined, df_ticker], axis=1)

# Drop the 'SPY' column 
if 'SPY' in df_combined.columns:
    df_combined.drop(columns='SPY', inplace=True)

# Display the results (closing prices for chosen tickers)
df_combined

                             AAPL     AMZN    MSFT
2020-11-09 05:00:00+00:00  116.32  3143.74  218.39
2020-11-10 05:00:00+00:00  116.00  3035.02  211.01
2020-11-11 05:00:00+00:00  119.49  3137.39  216.55
2020-11-12 05:00:00+00:00  119.21  3110.28  215.44
2020-11-13 05:00:00+00:00  119.26  3128.81  216.51
...                           ...      ...     ...
2023-11-02 04:00:00+00:00  177.57   138.07  348.32
2023-11-03 04:00:00+00:00  176.65   138.60  352.80
2023-11-06 05:00:00+00:00  179.23   139.74  356.53
2023-11-07 05:00:00+00:00  181.82   142.71  360.53
2023-11-08 05:00:00+00:00  182.89   142.08  363.20

[755 rows x 3 columns]